<table>
<tr>
<td id="tdpad">
<i class="fa fa-list-ul fa-2x " ></i>
</td>
<td>
<h2>编辑评价</h2>
</td>
<td>
  <%= link_to "返回商品", Blog.find_by("id",@comment.blog_id),class: "linkpro",id: "linkpro" %>
</td>
</tr>
</table>


<%= render "form", comment: @comment   %>
</br>

 <%= button_to "删除评价", @comment, method: :delete ,class: "linkpro",id: "linkpro"%> 
 
</br>

  

