<table>
<tr>
<td id="tdpad">
<i class="fa fa-list-ul fa-2x " ></i>
</td>
<td>
<h2>编辑信息</h2>
</td>
<td>
  <%= link_to "返回信息列表", books_path,class: "linkpro",id: "linkpro" %>
</td>
</tr>
</table>

<%= render "form", book: @book %>

<br>

  <%= button_to "Destroy this book", @book, method: :delete,class: "linkpro",id: "linkpro" %>
