<table>
<tr>
<td id="tdpad">
<i class="fa fa-list-ul fa-3x " ></i>
</td>
<td>
<h1>编辑信息</h1>
</td>
<td>
  <%= link_to "继续下单", books_path,class: "linkpro",id: "linkpro" %>
</td>
</tr>
</table>

<%= render "form", book: @book %>

<br>

  <%= button_to "删除信息", @book, method: :delete,class: "linkpro",id: "linkpro" %>
