<div id="<%= dom_id cart %>">
  
<%= render cart.blog %>
  <p>
    <strong>Num:</strong>
    <%= cart.num %>
  </p>

  <p>
    <strong>Sum:</strong>
    <%= cart.blog.price*cart.num %>
  </p>

</div>
