<table>
<tr>
<td id="tdpad">
<i class="fa fa-list-ul fa-2x " ></i>
</td>
<td>
<h2>新建商品</h2>
</td>
<td>
  <%= link_to "返回", blogs_path,class: "linkpro",id: "linkpro" %>
</td>
</tr>
</table>

<%= render "form", blog: @blog %>

<br>


