<h1>Editing orderitem</h1>

<%= render "form", orderitem: @orderitem %>

<br>

<div>
  <%= link_to "Show this orderitem", @orderitem %> |
  <%= link_to "Back to orderitems", orderitems_path %>
</div>
