<div id="<%= dom_id blog %>">
  <p>
    <strong>User:</strong>
    <%= User.find_by("id":blog.user_id).username %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= blog.content %>
  </p>

</div>
