




<div id="<%= dom_id user %>">

<table>
<tr>
<td id="tdpad">
<i class="fa fa-address-card-o fa-3x " ></i>
</td>
<td>

<h1>个人信息</h1>
</td>
<td>

<div style="height:55px;">



<%= link_to "修改密码", edit_user_path(@user),id: "linkpro" %>

</td>

</tr>
</table>
  <p>
    <strong>用户名:</strong>
    <%= user.username %>
  </p>
 <% if user.usertype=='user' %> 
 <p>
    <strong>身份:</strong>买家
   
  </p>
 
 <% else %>
 <p>
    <strong>身份:</strong>商家
    
  </p>
 
 <% end %>
  
  
 <% if user.usertype=='user' %> 
  <table>
<tr>
<td id="tdpad">
<i class="fa fa-address-book-o fa-3x " ></i>
</td>
<td>
<h1>收货人信息管理</h1>
</td>
</tr>
</table>
 <div id="books">
  <%= render :partial => user.books %>
  </div>
  <% end %>
  

</div>
