<p style="color: green"><%= notice %></p>

<table>
<tr>
<td id="tdpad">
<i class="fa fa-edit fa-3x " ></i>
</td>
<td>
<h1>编辑用户名和密码</h1>
</td>
<td>
  <%= link_to "返回",user_path(@user),class: "linkpro",id: "linkpro" %>
</td>
</tr>
</table>

<%= render "editform", user: @user %>

<br>

