<p style="color: green"><%= notice %></p>

<table>
<tr>
<td id="tdpad">
<i class="fa fa-list-ul fa-3x " ></i>
</td>
<td>

<h1>收藏夹</h1>
</td>


</tr>
</table>

<div id="stars">
  <% @stars.each do |star| %>
  
  <div id="blog">
  
    <%= render Blog.find_by("id",star.blog_id) %>
    <div id="picp">
        <%= link_to '查看商品', Blog.find_by("id",star.blog_id), class: "linkpro",id: "linkpro" %>
        </div>
        <div id="picp">
        <%=button_to '取消收藏', {:controller => :stars, :action => 'destroy', :id => star.id}, :method => :delete  , class: "linkpro",id: "linkpro"  %>
    </div>
    </div>
  <% end %>
  
</div>

