<div id="<%= dom_id command %>">
  <p>
    <strong>Name:</strong>
    <%= command.name %>
  </p>

    <p>
    <strong>Recipies:</strong>
    <%= command.recipy.name if command.recipy %>
  </p>

</div>
